/* DEFAULT STYLES */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

nav, button, footer, #welcome {
    background-color: black;
    color: white;
}

h1, h2, h3, h4 {
    text-align: center;
}

span {
    color: orange;
    text-decoration: underline;
    text-align: center;
}

/* END OF DEFAULT STYLES */

/* CONTAINERS */

header {
    height: 20em;
    padding-bottom: 4em;
}

main {
    width: 97%;
    margin: auto;
}

footer {
    text-align: center;
}

/* HOVER LINKS */

nav:hover .menu {
    display: block;
}

.menu li:hover {
    border-bottom: 1px solid wheat;
    font-weight: bold;
}

/* HEADER SECTION */


.menu li {
    /* display: inline; */
    color: white;
    padding: 0 0.7em;
}

.menu li a {
    color: white;
}

.menu {
    display: none;
    width: 100%;
    text-align: center;
}

nav {
    display: flex;
    padding: 0.5em;
    justify-content: space-between;
    flex-wrap: wrap;
}

#welcome {
    background-image: url('img/header/beer_tap_au.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: 100%;
    text-shadow: 2px 2px black;
}

.info {
    width: 90%;
    margin: auto;
    padding-top: 3em;
    line-height: 3em;
}

.info button {
    width: 30%;
    height: 20%;
    position: relative;
    left: 35%;
    padding: 0.5em;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 0.5em;
}

.info button:hover {
    border: 4px solid white;
    
}

/* MAP SECTION */

#map {
    width: 100%;
    height: auto;
    margin-top: 4em;
    line-height: 2em;
}

#map p {
    padding: 0 1em;
}

iframe {
    width: 100%;
    height: 20em;
}

/* GALLERY SECTION */

img {
    width: 100%;
}

.main_gallery img {
    height: 40em;
}

/* BEER BRAND SECTION */

.brand img {
    height: 15em;
}

/* TEAM SECTION */

#team {
    margin-bottom: 1em;
}

/* FOOTER SECTION */

footer {
    padding: 1em;
}


/* Media Queries */
@media (max-width: 600px) {
    #welcome {
        background-image: url('/img/header/beer_tap.jpg');
    }
}

@media (min-width: 600px) {
    #beer_brand {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .brand {
        width: 50%;
    }

    #team {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .staff {
        width: 49.5%;
    }

    .menu_mobile {
        display: none;
    }

    .menu {
        display: block;
        width: 50%;
        text-align: right;
    }

    .menu li {
        display: inline;
    }

    header {
        padding-bottom: 0;
    }
}

@media (min-width: 700px) {
    .upper_gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .upper_gallery .img_1, .img_2 {
        width: 50%;
    }
}

@media (min-width: 800px) {
    .upper_gallery .img_1, .img_2, .img_3 {
        width: 33.3%;
    }

    .staff {
        width: 33.3%;
    }

    .brand {
        width: 35%;
    }

    main {
        width: 80%;
    }
}